body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #game {
    position: relative;
    height: 720px;
    background-color: lightgray;
    width: 1024px;
  }

  #game-before, #game-after, #game-level{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
  }

  #game-before > div , #game-after > div,  #game-level > div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  